.mypy_cache
.pytest_cache
.python-version
__pycache__

.vscode
.idea/

.env
.terraform

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

package-lock.json